export(initialiseAMCMC)
export(updateAMCMC)
export(constanth)
export(andrieuthomsh)
export(initialiseAMCMC.constanth)
export(initialiseAMCMC.andrieuthomsh)
export(updateAMCMC.constanth)
export(updateAMCMC.andrieuthomsh)
export(computeGradtrunc)
export(fftgrid)
export(fftinterpolate)
export(fftinterpolate.fromXYZ)
export(fftinterpolate.fromFunction)
export(fftinterpolate.fromSPDF)
export(getCounts)
export(GAinitialise)
export(GAupdate)
export(GAfinalise)
export(GAreturnvalue)
export(nullAverage)
export(MonteCarloAverage)
export(GAinitialise.nullAverage)
export(GAinitialise.MonteCarloAverage)
export(GAupdate.nullAverage)
export(GAupdate.MonteCarloAverage)
export(GAfinalise.nullAverage)
export(GAfinalise.MonteCarloAverage)
export(GAreturnvalue.nullAverage)
export(GAreturnvalue.MonteCarloAverage)
export(exceedProbs)
export(GFinitialise)
export(GFupdate)
export(GFfinalise)
export(GFreturnvalue)
export(nullFunction)
export(dump2dir)
export(print.dump2dir)
export(GFinitialise.nullFunction)
export(GFinitialise.dump2dir)
export(GFupdate.nullFunction)
export(GFupdate.dump2dir)
export(GFfinalise.nullFunction)
export(GFfinalise.dump2dir)
export(GFreturnvalue.nullFunction)
export(GFreturnvalue.dump2dir)
export(lgcpForecast)
export(expectation)
export(extract)
export(lgcpgrid)
export(lgcpgrid.list)
export(lgcpgrid.array)
export(as.list.lgcpgrid)
export(print.lgcpgrid)
export(summary.lgcpgrid)
export(quantile.lgcpgrid)
export(image.lgcpgrid)
export(plot.lgcpgrid)
export(print.lgcpPredict)
export(neattable)
export(xvals.lgcpPredict)
export(yvals.lgcpPredict)
export(plot.lgcpPredict)
export(meanfield)
export(meanfield.lgcpPredict)
export(varfield)
export(varfield.lgcpPredict)
export(rr)
export(rr.lgcpPredict)
export(serr)
export(serr.lgcpPredict)
export(intens)
export(intens.lgcpPredict)
export(gridfun)
export(gridfun.lgcpPredict)
export(gridav)
export(gridav.lgcpPredict)
export(print.gridaverage)
export(hvals)
export(hvals.lgcpPredict)
export(window.lgcpPredict)
export(mcmctrace)
export(mcmctrace.lgcpPredict)
export(plot.mcmcdiag)
export(plotExceed)
export(plotExceed.array)
export(is.pow2)
export(plotExceed.lgcpPredict)
export(gridInWindow)
export(quantile.lgcpPredict)
export(plot.lgcpQuantiles)
export(identify.lgcpPredict)
export(identifygrid)
export(loc2poly)
export(expectation.lgcpPredict)
export(extract.lgcpPredict)
export(add.list)
export(multiply.list)
export(smultiply.list)
export(showGrid)
export(showGrid.default)
export(showGrid.lgcpPredict)
export(showGrid.stppp)
export(lgcppars)
export(lgcpPredict)
export(lgcpSim)
export(MALAlgcp)
export(mcmcLoop)
export(print.mcmc)
export(hasNext)
export(hasNext.iter)
export(is.retain)
export(is.burnin)
export(iteration)
export(resetLoop)
export(summary.mcmc)
export(nextStep)
export(loop.mcmc)
export(mcmcpars)
export(mcmcProgressNone)
export(mcmcProgressPrint)
export(mcmcProgressTextBar)
export(mcmcProgressTk)
export(ginhomAverage)
export(KinhomAverage)
export(spatialparsEst)
export(Cvb)
export(thetaEst)
export(lambdaEst)
export(muEst)
export(density.stppp)
export(selectObsWindow)
export(selectObsWindow.default)
export(selectObsWindow.stppp)
export(getRotation)
export(getRotation.default)
export(getRotation.stppp)
export(roteffgain)
export(rotmat)
export(affine.stppp)
export(affine.fromFunction)
export(affine.fromXYZ)
export(affine.SpatialPolygonsDataFrame)
export(affine.fromSPDF)
export(setoutput)
export(spatialAtRisk)
export(spatialAtRisk.default)
export(spatialAtRisk.fromXYZ)
export(spatialAtRisk.im)
export(spatialAtRisk.function)
export(spatialAtRisk.SpatialGridDataFrame)
export(spatialAtRisk.SpatialPolygonsDataFrame)
export(spatialAtRisk.bivden)
export(as.im.fromXYZ)
export(as.im.fromSPDF)
export(as.im.fromFunction)
export(as.fromXYZ)
export(as.fromXYZ.fromFunction)
export(spatialIntensities)
export(spatialIntensities.fromXYZ)
export(spatialIntensities.fromSPDF)
export(print.fromXYZ)
export(print.fromFunction)
export(print.fromSPDF)
export(plot.fromXYZ)
export(plot.fromSPDF)
importFrom(sp, spplot)
export(xvals)
export(xvals.default)
export(xvals.fromXYZ)
export(xvals.SpatialGridDataFrame)
export(yvals)
export(yvals.default)
export(yvals.fromXYZ)
export(yvals.SpatialGridDataFrame)
export(zvals)
export(zvals.default)
export(zvals.fromXYZ)
export(zvals.SpatialGridDataFrame)
export(as.SpatialGridDataFrame)
export(as.SpatialGridDataFrame.fromXYZ)
export(stppp)
export(stppp.ppp)
export(stppp.list)
export(print.stppp)
export(plot.stppp)
export(as.ppp.stppp)
export(rescale.stppp)
export(temporalAtRisk)
export(temporalAtRisk.numeric)
export(temporalAtRisk.function)
export(constantInTime)
export(constantInTime.numeric)
export(constantInTime.stppp)
export(print.temporalAtRisk)
export(plot.temporalAtRisk)
export(txtProgressBar2)
export(setTxtProgressBar2)
